In [3]:
# Group by Department and calculate average salary
import pandas as pd

df = pd.read_csv("data.csv")

avg_salary_by_dept = df.groupby('Department')['Salary'].mean()
print(avg_salary_by_dept)

Department
Finance      52333.333333
HR           46000.000000
IT           67666.666667
Marketing    52000.000000
Name: Salary, dtype: float64

In [4]:
gender_count = df['Gender'].value_counts()
print(gender_count)

Gender
Female    5
Male      5
Name: count, dtype: int64

In [5]:
salary_stats_by_gender = df.groupby('Gender')['Salary'].agg(['mean', 'max'])
print(salary_stats_by_gender)

           mean    max
Gender
Female  56200.0  68000
Male    55000.0  75000

In [6]:
pivot = pd.pivot_table(df, values='Salary', index='Department', columns='Gender', aggfunc='mean')
print(pivot)

Gender       Female     Male
Department
Finance     52500.0  52000.0
HR          45000.0  47000.0
IT          68000.0  67500.0
Marketing   63000.0  41000.0

In [7]:
pivot = pd.pivot_table(df, values='Salary', index='Department', columns='Gender', aggfunc='max')
print(pivot)

Gender      Female   Male
Department
Finance      56000  52000
HR           45000  47000
IT           68000  75000
Marketing    63000  41000

In [8]:
# Sort by Salary (descending)
sorted_df = df.sort_values(by='Salary', ascending=False)
print(sorted_df)

      Name  Age  Gender Department  Salary
1      Bob   34    Male         IT   75000
3    Diana   30  Female         IT   68000
7   Hannah   32  Female  Marketing   63000
8      Ian   24    Male         IT   60000
5    Fiona   29  Female    Finance   56000
2  Charlie   25    Male    Finance   52000
9     Jane   27  Female    Finance   49000
6   George   26    Male         HR   47000
0    Alice   28  Female         HR   45000
4    Ethan   22    Male  Marketing   41000

In [9]:
# Sort by Salary (descending)
sorted_df = df.sort_values(by='Salary', ascending=True)
print(sorted_df)

      Name  Age  Gender Department  Salary
4    Ethan   22    Male  Marketing   41000
0    Alice   28  Female         HR   45000
6   George   26    Male         HR   47000
9     Jane   27  Female    Finance   49000
2  Charlie   25    Male    Finance   52000
5    Fiona   29  Female    Finance   56000
8      Ian   24    Male         IT   60000
7   Hannah   32  Female  Marketing   63000
3    Diana   30  Female         IT   68000
1      Bob   34    Male         IT   75000

In [10]:
# Filter: employees with salary above 50,000
high_salary = df[df['Salary'] > 50000]
print(high_salary)

      Name  Age  Gender Department  Salary
1      Bob   34    Male         IT   75000
2  Charlie   25    Male    Finance   52000
3    Diana   30  Female         IT   68000
5    Fiona   29  Female    Finance   56000
7   Hannah   32  Female  Marketing   63000
8      Ian   24    Male         IT   60000