In [3]:
# Create two DataFrames
import pandas as pd 

df= pd.read_csv("data.csv")

df_dept = pd.DataFrame({
    'Department': ['HR', 'IT', 'Finance', 'Marketing'],
    'Manager': ['John', 'Sara', 'Mike', 'Emma']
})

# Merge with original df
merged_df = pd.merge(df, df_dept, on='Department', how='left')
print(merged_df)

      Name  Age  Gender Department  Salary Manager
0    Alice   28  Female         HR   45000    John
1      Bob   34    Male         IT   75000    Sara
2  Charlie   25    Male    Finance   52000    Mike
3    Diana   30  Female         IT   68000    Sara
4    Ethan   22    Male  Marketing   41000    Emma
5    Fiona   29  Female    Finance   56000    Mike
6   George   26    Male         HR   47000    John
7   Hannah   32  Female  Marketing   63000    Emma
8      Ian   24    Male         IT   60000    Sara
9     Jane   27  Female    Finance   49000    Mike

In [4]:
# Split df into two parts and then combine again
df1 = df.iloc[:3]
df2 = df.iloc[3:]
combined_df = pd.concat([df1, df2])
print(combined_df)

      Name  Age  Gender Department  Salary
0    Alice   28  Female         HR   45000
1      Bob   34    Male         IT   75000
2  Charlie   25    Male    Finance   52000
3    Diana   30  Female         IT   68000
4    Ethan   22    Male  Marketing   41000
5    Fiona   29  Female    Finance   56000
6   George   26    Male         HR   47000
7   Hannah   32  Female  Marketing   63000
8      Ian   24    Male         IT   60000
9     Jane   27  Female    Finance   49000