In [3]:
try:     #try-except
    num = int(input("Enter a number: "))
    result = 10 / num
    print(result)
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("Please enter a valid number.")
finally:
    print("Execution complete.")

Enter a number:  -

Please enter a valid number.
Execution complete.

In [5]:
def check_age(age):  #raising-custom-exceptions
    if age < 18:
        raise ValueError("You must be at least 18 years old.")
    return True

check_age(18)

True

In [6]:
pip install numpy

Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import numpy as np

a = np.array([1, 2, 3])
print(a * 2)
print(np.mean(a))
print(np.sqrt(a))

[2 4 6]
2.0
[1.         1.41421356 1.73205081]

In [8]:
b = np.array([[1, 2], [3, 4]])
print(b.shape)
print(np.sum(b, axis=0))  # Sum by column

(2, 2)
[4 6]

In [11]:
import pandas as pd

df = pd.read_csv("data.csv")  # file
print(df.head())
print(df.describe())

      Name  Age  Gender Department  Salary
0    Alice   28  Female         HR   45000
1      Bob   34    Male         IT   75000
2  Charlie   25    Male    Finance   52000
3    Diana   30  Female         IT   68000
4    Ethan   22    Male  Marketing   41000
             Age        Salary
count  10.000000     10.000000
mean   27.700000  55600.000000
std     3.683296  10854.594521
min    22.000000  41000.000000
25%    25.250000  47500.000000
50%    27.500000  54000.000000
75%    29.750000  62250.000000
max    34.000000  75000.000000

In [12]:
print(df['Age'].mean())       # Mean age
print(df[df['Age'] > 25])     # Filter rows
df['New_Col'] = df['Age'] * 2 # Create new column

27.7
     Name  Age  Gender Department  Salary
0   Alice   28  Female         HR   45000
1     Bob   34    Male         IT   75000
3   Diana   30  Female         IT   68000
5   Fiona   29  Female    Finance   56000
6  George   26    Male         HR   47000
7  Hannah   32  Female  Marketing   63000
9    Jane   27  Female    Finance   49000