In [1]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
    print(result)
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("Please enter a valid number.")
finally:
    print("Execution complete.")

Enter a number:  5

2.0
Execution complete.

In [2]:
import pandas as pd
import numpy as np

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', np.nan, 'Ethan'],
    'Age': [25, np.nan, 30, 22, 28],
    'Salary': [50000, 60000, np.nan, 48000, 52000]
}

df = pd.DataFrame(data)
print("Original Data:\n", df)

# Drop rows with any missing values
df_dropna = df.dropna()
print("\nAfter Dropping NaNs:\n", df_dropna)

# Fill missing values with a specific value
df_fillna = df.fillna({'Name': 'Unknown', 'Age': df['Age'].mean(), 'Salary': 0})
print("\nAfter Filling NaNs:\n", df_fillna)

Original Data:
       Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  30.0      NaN
3      NaN  22.0  48000.0
4    Ethan  28.0  52000.0

After Dropping NaNs:
     Name   Age   Salary
0  Alice  25.0  50000.0
4  Ethan  28.0  52000.0

After Filling NaNs:
       Name    Age   Salary
0    Alice  25.00  50000.0
1      Bob  26.25  60000.0
2  Charlie  30.00      0.0
3  Unknown  22.00  48000.0
4    Ethan  28.00  52000.0

In [3]:
# Convert Age from float to integer
df_fillna['Age'] = df_fillna['Age'].astype(int)
print("\nAfter Changing Data Type of Age:\n", df_fillna.dtypes)

After Changing Data Type of Age:
 Name       object
Age         int32
Salary    float64
dtype: object

In [4]:
print("Original Data:\n", df)

Original Data:
       Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  30.0      NaN
3      NaN  22.0  48000.0
4    Ethan  28.0  52000.0

In [5]:
# Create sample data with duplicates
df_dup = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Alice'],
    'Age': [25, 30, 25]
})

print("\nBefore Removing Duplicates:\n", df_dup)

# Remove duplicates
df_no_dup = df_dup.drop_duplicates()
print("\nAfter Removing Duplicates:\n", df_no_dup)

Before Removing Duplicates:
     Name  Age
0  Alice   25
1    Bob   30
2  Alice   25

After Removing Duplicates:
     Name  Age
0  Alice   25
1    Bob   30