In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
dataset = pd.read_csv("C:\\Users\\rajkiran sapkota\\Downloads\\healthcare.csv")

In [5]:
dataset.head(5)

,PatientID,Age,Gender,Weight_kg,Height_cm,Blood_Pressure,Cholesterol_Level,Glucose_mg_dL,Diagnosis,Medication,Hospital_Visits_Past_Year,Smoker_Status,Exercise_Frequency
0,1001,69,Female,75.1,171.6,119/76,High,147.5,Healthy,MedC,3,Former Smoker,Daily
1,1002,32,Other,99.6,150.6,151/79,High,93.8,Obesity,MedD,9,Smoker,3-5 times/week
2,1003,89,Other,99.5,153.2,178/81,Normal,87.5,Hypertension,MedA,1,Non-Smoker,3-5 times/week
3,1004,78,Male,40.9,169.9,102/118,Normal,56.2,Hypertension,MedB,2,Former Smoker,Daily
4,1005,38,Other,58.6,163.3,108/108,Normal,117.0,Hypertension,MedC,6,Smoker,NaN

In [16]:
min_r = dataset["Age"].min()
max_r = dataset["Age"].max()

In [17]:
min_r , max_r

(18, 89)

In [20]:
range = max_r - min_r

In [19]:
range

71